---
title: Grants and projects
permalink: /grants/
description: Research grants and projects held by Ayesha Asloob Qureshi.
---
<ul class="entries">
  {% for gr in site.data.grants.grants %}
  <li>
    <span class="entry-date">{{ gr.years }}</span>
    <div>
      <p class="entry-title">{{ gr.title }}</p>
      <p class="muted">
        {% if gr.programme_url %}<a href="{{ gr.programme_url }}">{{ gr.programme }}</a>{% else %}{{ gr.programme }}{% endif %}
        {% if gr.role %}<br>{{ gr.role }}{% endif %}
        {% if gr.note %}<br><em>{{ gr.note }}</em>{% endif %}
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
